<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="BloodBankEntitiesModel" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Facultate\MPD\Laboratoare\Proiect\Capusan_DanielaMaria_Proiect\BloodBank.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>